// Styling for the footer
footer {
    padding: 50px 0;
    text-align: center;
    color: fade-out(white, .7);
    background-color: $gray-darker;
    .social_icons{
        display: block;
        margin-bottom: 25px;
        a{
            display: inline-block;
            padding: 0 5px;
            i{
                background-color: #0e0e0e;
                color: #222222;
                font-size: 28px;
                width: 60px;
                height: 60px;
                line-height: 60px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                text-align: center;
                margin: 0;
            }
            &:hover{
                i{
                    color: #9a9a9a;
                }
            }

        }
    }
    .copyright{
        p{
            font-size: 18px;
        }
    }

    @media (max-width: 575px) {
        padding: 25px 0;
        .social_icons{
            margin-bottom: 5px;
            a{
                i{
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 18px;
                }
            }
        }
        .copyright{
            p{
                font-size: 14px;
                margin-bottom: 0;
            }
        }
    }
}
