// Styling for the masthead
header.masthead {
    position: relative;

    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;

    color: white;
    background-image: url('../img/hero-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .header-content {
        position: relative;
        z-index: 2;
        max-width: 500px;
        margin-bottom: 100px;

        text-align: center;
        h1 {
            font-size: 30px;
        }
    }
    .device-container {
        max-width: 325px;
        margin-right: auto;
        margin-left: auto;
    }
    .overlay-bg{
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(9, 51, 13, 0.92);
        z-index: 1;
        background: $theme-secondary;
        background: -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
        background: linear-gradient(to left, $theme-secondary, $theme-tertiary);
        opacity: 0.8;
    }
    @media (min-width: 992px) {
        height: 100vh;
        min-height: 775px;
        padding-top: 0;
        padding-bottom: 0;
        .header-content {
            margin-bottom: 0;

            text-align: left;
            h1 {
                font-size: 50px;
            }
        }
        .device-container {
            max-width: 325px;
        }
    }
}